@model ContactsBook.Models.UpdateViewModel

@{
}

<h1>Edit Contact</h1>

<form method="post" action="View" class="mt-4">
    <div class="mb-2">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-2">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-2">
        <label for="" class="form-label">Lastname</label>
        <input type="text" class="form-control" asp-for="Lastname">
    </div>
    <div class="mb-2">
        <label for="" class="form-label">Email Address</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-2">
        <label for="" class="form-label">Phone Number</label>
        <input type="text" class="form-control" asp-for="PhoneNumber">
    </div>
    <div class="mb-2">
        <label for="" class="form-label">Address</label>
        <input type="text" class="form-control" asp-for="Address">
    </div>

    <button type="submit" class="btn btn-primary" asp-action="View">Submit</button>
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-asp-controller="Contacts">Delete</button>
</form>
